# Environment variables
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
error_log.txt
panic_log.txt

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Results
search_result.txt
